body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ffd900;
  position:relative;
  top: 180px;
  bottom: 20px;
}

a.button:hover {
  color: initial;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
}


.header {
  position:relative;
  top:0;
  left:0;
  width: 100%;
  padding: 10px;
  text-align: left;
  background: #310944;
  color: white;
  font-size: 30px;
}

.body{
  position:relative;
  top: 20px;
  padding: 10px;
  bottom: 20px;
}

.bottomHeader {
  position:relative;
  top: 1000 px;
  bottom:0;
  left:0;
  width: 100%;
  padding: 10px;
  text-align: left;
  background: #310944;
  color: white;
  font-size: 20px;
}

.button {
  color: purple;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background: grey;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: yellow;
  color: white;
}