body{
  background: #310944;
}

a.button:hover {
  color: initial;
  text-decoration: none;
  background-color: goldenrod;
  color: black;
}


.header {
  position:relative;
  height: 25vh;
  width: 100vw;
  padding: 10px;
  padding-left: 5vw;
  padding-top: 20px;
  text-align: left;
  background: #310944;
  color: white;
  font-size: 30px;
}

.body{
  position:relative;
  height: 65vh;
  width: 100vw;
  padding: 20px;
  padding-left: 5vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: gold;
  
}

.bottomHeader {
  position:relative;
  height: 10vh;
  width: 100vw;
  padding: 10px;
  padding-left: 5vw;
  padding-bottom: 20px;
  text-align: left;
  background: #310944;
  color: white;
  font-size: 20px;
}

.button {
  color: purple;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background: grey;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: yellow;
  color: white;
}