/******************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: login.css
 * 
 * Description: Provides the styling for the login page
 *****************************************************************************/

.login_box {
    margin-top: 2%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login_input_1 {
    text-align: left;
}

.login_input_2 {
    max-width: 100vh;
    width: 80%;
}