/******************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: message.css
 * 
 * Description: Provides the styling for the message form page
 *****************************************************************************/
/*blue button with temporary hover effect  */
.message_btn{
   /* background color purple */
  background-color: #310944;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}
.message_btn:hover {
 /* background color gold */
 background-color: #f0ca20;
 color: #ffffff;
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}
.message_info{
   text-align: left; 
    position: relative;
    left: 25%;
}


 .text_area{
    width: 50%;
    height: 150%;
    resize: none;
 }