/******************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 *
 * File: post_form.css
 * 
 * Description: Provides the styling for the post form
 *****************************************************************************/

select {
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}
/*blue button with temporary hover effect  */
.post_btn{
    /* background color purple */
	background-color: #310944;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
}
.post_btn:hover {
  /* background color gold */
  background-color: #f0ca20;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flow {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: auto auto;
}

.crossrow {
	grid-column-start: 1;
	grid-column-end: 3;
}

.align_left {
	text-align: left;
}

.justify_left {
    justify-content: start;
}

.top_pad {
	padding-top: 16px;
}

@media all and (min-width: 450px) {
	
}

/* @media all and (max-width: 450px) {
	.flow {
		margin-left: 30vw;
		margin-right: 30vw;
	}
} */
