body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #565656;
  background-color: #fff;
}

.col-md-12 {
  width: 100%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

a.button:hover {
  color: initial;
  text-decoration: none;
  background-color: goldenrod;
  color: black;
}

.banner-wrapper {
  background: #186295;
  color: #ffffff;
}

.banner-wrapper{
  border-bottom: 2px solid #ffffff;
  padding: 1em 2em;
}

.header {
  background: #310944;
  color: #ffffff;
  padding: 0 2em;
}
.site-info {
  background: #310944;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.site_section{
  padding: 2.5em 0;
}

.main_navbar{
  position:relative;
  height: 2vw;
  /*width: 100vw;*/
  width: 92vw;
  padding: 10px;
  padding-top: 15px;
  padding-left: 5.25vw;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: center;
  background: #ffdc70;
  color: white;
  font-size: 16px;
}

.main-nav #navbar {
  background: #ffdc70;
  border-radius: 0px;
  border-color: #ffdc70;
  position: left;
}

.navbar {
  min-height: 50px;
  border: 1px solid transparent;
}

.navbar-header {  
  float: left;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.body{
  position:relative;
  /*height: 35vw;
  /*width: 100vw;*/
  height: 40vmax;
  width: 85vw;
  padding: 20px;
  padding-left: 5vw;
  padding-right: 8vw;
  /*width: 100%;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: gold;*/
  background: white;
  
}

/*to fix the issue when window is not at full screen*/
@media all and (max-width: 1200px) {
  .body{
    height: 50vmax;
  }
}

.bottom_header {
  position:relative;
  height: 5vw;
  /*width: 100vw;*/
  width: 92vw;
  padding: 10px;
  padding-left: 5vw;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: left;
  /*background: #310944;*/
  /*background: white;*/
  background: gold;
  color: white;
  font-size: 20px;
}

.button {
  color: purple;
  /*color: rgb(116, 116, 221);*/
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background: grey;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: yellow;
  color: white;
}