<div class = "cross-screen-row banner"> 
  SFSU Software Engineering Project CSC 648-848, Fall 2021 For Demonstration Only
</div>

<div class = "cross-screen-row site-section">
  TwoHelpYou
</div>

<div class = "cross-screen-row main-navbar"> 
  <div><a href="/" >Home</a> | <a href="/aboutUs" >About US</a> |</div>
  <form id="search-form">
    {{#if results}}
    <input id="search-text" type="text" placeholder="Search" name="search-text" aria-label="Search">
    <i id="search-button">&#x1F50E</i>
    {{else}}
    <div>Return to Home to Search</div>
    {{/if}}
  </form>
  <div>|<a href="/Login" >Login</a> | <a href="/Register" >Register</a></div>
</div>
