<div class = "cross-screen-row banner"> 
  SFSU Software Engineering Project CSC 648-848, Fall 2021 For Demonstration Only
</div>

<div class = "cross-screen-row site-section">
  TwoHelpYou
</div>

<div class = "cross-screen-row main-navbar"> 
  <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
  <!--<input type="text" placeholder="Search.."> -->
  <a href="/Login" >Login</a> | <a href="/Register" >Register</a> | <a></a>
 <form >
        <input id="search-text"  type="text" placeholder="Search" name="search-text"  aria-label="Search">
        <label id="search-button">Search</label>
  </form>
</div>
</div>
