<div class="header">
    <h1>Software Engineering Class SFSU</h1>
  <p>Fall, 2021 Section 03 Team 1</p>
</div>

<div class="body">
  <h1 style="font-size: 20px;">Chung Hei Fong</h1>
    <p>I am a undergraduate student in SFSU that major in computer science. <br>
    I like to play video game when I have free time, so I am hoping I am <br>
    able to join a video game company after graduate.</p>
</div>

<div class="bottomHeader">
  <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
</div>