<div class = "banner-wrapper">
  <div class ="row">
    <div class ="col-md-12">
      SFSU Software Engineering Project CSC 648-848, Fall 2021 For Demonstration Only 
    </div>
  </div>
</div>

<div class="header">
  <div class = "site-section">
    <div class =" site-info">
      Software Engineering Class SFSU 
      | 
      Fall, 2021 Section 03 Team 1
    </div>
  </div>
  <!--<h1>{{title}}</h1>-->
  <!--<p>Welcome to {{title}}</p>-->
</div>

<div class = "main-navbar">
      <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
      <!--<input type="text" placeholder="Search.."> -->
      <a href="/Login" >Login</a> | <a href="/Register" >Register</a>
</div>

<div class="body">
  <h1 style="font-size: 20px;">Chung Hei Fong</h1>
    <img src="..\images\personalphoto.jpg" alt="coming soon" width="100" height="100">
    <p>I am a undergraduate student in SFSU that major in computer science. <br>
    I like to play video game when I have free time, so I am hoping I am <br>
    able to join a video game company after graduate.</p>
</div>

<div class="bottomHeader">
  {{!-- <a href="/" >Home</a> | <a href="/aboutUs" >About US</a> --}}
</div>