<div class="header">
  <h1>Software Engineering Class SFSU</h1>
  <p>Fall, 2021 Section 03 Team 1</p>
</div>

<div class="body">
  <h1 style="font-size: 20px;">Justin Lam</h1>
    <img src="..\images\personalphoto.jpg" alt="coming soon" width="100" height="100">
    <p>Undergraduate Senior at SFSU aspiring to get into the field of computer
       forensics. Having served in the military for a period of time and
        observing the growth of cyber warfare, it becomes increasingly more 
        aware of the dangers and benefits that technology has brought people. 
        To further serve and protect people's interests, the necessity for 
        observing and recovering information from technical devices needed 
        to be essential for societal stability.</p>
</div>

<div class="bottomHeader">
  <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
</div>