<div class="header">
  <h1>Software Engineering Class SFSU</h1>
  <p>Fall, 2021 Section 03 Team 1</p>
</div>

<div class="body">
  <h1 style="font-size: 20px;">Aviral Puri</h1>
    <img src="..\images\personalphoto.jpg" alt="coming soon" width="100" height="100">
    <p>Undergraduate Senior studying Computer Science at SFSU and an aspiring software <br>
      developer. Born and raised in Delhi, India before moving to the US during the 2008 <br>
      financial crisis. Solving problems is my passion, regardless of the context and I <br>
      think the tools we can create using CS can not just help solve small everyday issues <br>
      like turning the lights on via a voice assistant but also bigger systemic issues <br>
      like climate change and corruption using machine learning models and artificial <br>
      intelligence or even theoretical mathematics like finding all the digits of pi using <br>
      quantum computers. </p>
</div>

<div class="bottomHeader">
  <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
</div>