<div class="header">
  <h1>{{title}}</h1>
  <p>About Us</p>
</div>

<div class="body">
  <h1 style="font-size: 20px;">Aviral Puri</h1>
    <p>Undergraduate Senior studying Computer Science at SFSU and an aspiring software developer. 
      Born and raised in Delhi, India before moving to the US during the 2008 financial crisis. 
      Solving problems is my passion, regardless of the context and I think the tools we create 
      using CS can help not only solve small everyday issues like turning the lights on via a 
      voice assistant but also bigger systemic issues like climate change and corruption using 
      machine learning models and artificial intelligence or even theoretical mathematics like 
      finding all the digits of pi using quantum computers.  </p>
</div>

<div class="bottomHeader">
  <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
</div>