<div class="header">
  <h1>{{title}}</h1>
  <p>About Us</p>
</div>

<div class="body">
  <h1 style="font-size: 20px;">Dinesh Thapa</h1>
    <p>I’m Dinesh Thapa and I’m a senior here in SFSU. 
      I will be graduating this fall and I’m excited to start my new career as a software engineer. 
      Originally, I’m from Kathmandu, Nepal but I’ve been living here in US since 2014. </p>
</div>

<div class="bottomHeader">
  <a href="/" >Home</a>> | <a href="/aboutUs" >About US</a>
</div>