<div class="body">
  <h1 style="font-size: 20px;">Wesley J Xu</h1>
    <img src="..\images\personalphoto.jpg" alt="coming soon" width="100" height="100">
    <p>
      Undergraduate Senior at San Francisco State Univeristy based in California. I am interested in joining the field of game developers.
      I have been playing games since I was a kid and have always been fascinated by the mechanics and feeling that the games provide and
      eventually I hope to bring the same feeling I had as a kid to those around us. 
    </p>
</div>