{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: about_us.hbs
 * 
 * Description: Page that informs user about the sites devlopers
 ************************************************************************* --}}

<div class="body left_align_content">
    <nav>
      <h4>Software Engineering Class SFSU 
      | 
      Fall, 2021 Section 03 Team 1</h4>
      <p>About Us</p>  <br>
      <p>Team Leader: <a href="/about/lam" class="about_button">Justin Lam</a> </p><br>
      <p>Github Master / Front End Help: <a href="/about/puri" class="about_button">Aviral Puri</a> </p><br>
      <p>Back End Leader: <a href="/about/thapa" class="about_button">Dinesh Thapa</a> </p><br>
      <p>Back End Developer: <a href="/about/resayo" class="about_button">Kurt D Resayo</a> </p><br>
      <p>Front End Leader: <a href="/about/xu" class="about_button">Wesley J Xu</a> </p><br>
      <p>Front End Developer: <a href="/about/fong" class="about_button">Chung Hei Fong</a> </p><br>
    </nav>
</div>
