{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: about_us.hbs
 * 
 * Description: Page that show after successful sending message or post
 ************************************************************************* --}}
<div class="body">
    <h2>Message send successful!</h2>
    <p>The message is successfully sended</p>
    <a href="/" class="registerbtn">Return to Home</a>
</div>