{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: index.hbs
 * 
 * Description: current home/search result page
 ************************************************************************* --}}

<div id = "main_content" class="body">
    <div >Help us Help others by tutoring
        <a id="post_button" href="../post_form">Post</a></div>
    <div class="side_bar" id="post_number"> </div>
    {{#each results}}
        {{> card this}}
    {{/each}}
</div>