{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: login.hbs
 * 
 * Description: temporary page for logins
 ************************************************************************* --}}
<script defer type="text/javascript" src="/js/login.js"  ></script>


<div class="body">
    <form class="requires-validation" novalidate id="login_page" method="POST" action="/users/login"
        enctype="application/x-www-form-urlencoded" >
        <h2>User Login Page</h2>
        <p>
            <label for="user_name">Username: </label><br/>
            <input type="text" name="user_name" required placeholder="Username" minlength="3"/><br/>
        </p>
        <p>
            <label for="password">Password: </label><br/>
            <input type="password" name="password" id="password" required placeholder="Password" minlength="8"/><br/>
        </p>
        <button class="registerbtn" id="login_button" type="submit" value="login" name="Login" />Login</button><br /><vr />
        {{!-- <button type="submit" class="registerbtn"> Login </button> --}}
        <div class = "container">
            <p>
                Do not have an account yet? Click here to
                <a href="../register">Register</a>!
            </p>
        </div>
    </form>
</div>