{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: login.hbs
 * 
 * Description: temporary page for logins
 ************************************************************************* --}}

<div class="body">
    <img src=".\images\frontpag.png" alt="coming soon" width="500" height="600">
</div>