{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: login.hbs
 * 
 * Description: temporary page for logins
 ************************************************************************* --}}

<head>
    <script defer type="text/javascript" src="/js/login.js"  ></script>
    <link rel='stylesheet' type="text/css" href='/stylesheets/login.css' />
</head>




<div class="body">
    <form class="requires-validation login_box" name="login_page_name" novalidate id="login_page" method="POST" 
        enctype="application/x-www-form-urlencoded" >
        <h2>Login</h2>
        <div class="login_input_1">
            <p>
                <label for="user_name">Username: </label><br/>
                <input class="login_input_2" type="text" name="user_name" required placeholder="Username" minlength="3"/><br/>
            </p>
            <p>
                <label for="password">Password: </label><br/>
                <input class="login_input_2" type="password" name="password" id="password" required placeholder="Password" minlength="8"/><br/>
            </p>
        </div>
        <button class="submitbtn" id="login_button" type="submit" value="login" name="Login" />Login</button><br /><vr />
        {{!-- <button type="submit" class="registerbtn"> Login </button> --}}
        <div class = "container">
            <p>
                Do not have an account yet? Click here to
                <a href="../register">Register</a>!
            </p>
        </div>
    </form>
</div>
