{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: message.hbs
 * 
 * Description: Message page.
 ************************************************************************* --}}
<head>
    <script defer type="text/javascript" src="/js/message_form.js"  ></script>
    <link rel='stylesheet' type="text/css" href='/stylesheets/message.css' />
    <script defer type="text/javascript" src= "/js/submit_modal.js"  ></script>
</head>

<div class="body">
    <form id="message_page" method="POST" action="/message/create/{{current_user.username}}"
        enctype="application/x-www-form-urlencoded">
        <h2>Send message</h2>
        <p id="username" >To: {{current_user.username}}</p>
        <div>
            <textarea class= "text_area" id="message-text" name = "message" value ="message" placeholder="Type your message here" rows="5"></textarea><br><br>
            {{#if logged}}
                <button  class="registerbtn" id="message-button" type="submit">Send</button> <br><br><br>
            {{else}}
                <button type="button" id="submit_button">submit</button>
            {{/if}}
        </div>
    </form>
    
</div>