{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: message_page.hbs
 * 
 * Description: display all user received messages
 ************************************************************************* --}}

<div class="body">
    {{#each results}}
        {{> message this}}
    {{/each}}
</div>