{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: post_form.hbs
 * 
 * Description: Display form to allow users to create a post
 ************************************************************************* --}}

<head>
    <link rel="stylesheet" type="text/css" href='/stylesheets/post_form.css' />
</head>

<div class="body">
    <form class="flow" id="post_page" method="POST" action="/post/request"
       enctype="multipart/form-data">
        <h2>Tutoring Post Request Page</h2>
        <div class="grid">
            <div class="grid crossrow" id="course_information">
                <label class="crossrow" for="course_prefix">Please Select the subject and enter course number</label>
                <select name="course_prefix" id="select_menu" tabindex="0" required>
                    <option selected value=""></option>
                    {{#each course}}
                    <option value="{{this.course_prefix}}">{{this.course_prefix}}</option>
                    {{/each}}
                </select>
                <input type="text" id="course_postfix" name="course_postfix" required placeholder="course number" maxlength="3"/>
            </div>
            <div class="grid crossrow" id="availability">
                <label class="crossrow" for="availability">Please enter your availability</label>
                <input class="crossrow" type="text" id="availability" name="availability" required placeholder="ex: Mon-Fri 9am-5pm" minlength="3"/>
            </div>
            <div class="grid crossrow" id="credibility">
                <label class="crossrow" for="credibility">Qualifications (why you can teach this course)</label>
                <input class="crossrow" type="file" id="credibility" name="credibility">
            </div>
        </div>
        <div>
            {{#if logged}}
            <input class="registerbtn" id="post_button" type="submit" value="post" name="Post" />
            {{else}}
            <div id="user_nav"><a href="/login" >Login</a> or <a href="/register" >Register</a></div>
            {{/if}}
        </div>
    </form>
</div>