{{!-- *************************************************************************
* Class: CSC 0648-03 Software Engineering Fall 2021
* Team: 1
* Name: Justin Lam
* Aviral Puri
* Dinesh Thapa
* Kurt D Resayo
* Wesley J Xu
* Chung Hei Fong
*
* File: post_form.hbs
*
* Description: Display form to allow users to create a post
************************************************************************* --}}

<head>
    <link rel="stylesheet" type="text/css" href='/stylesheets/post_form.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="/js/post_form.js"></script>
    <script defer type="text/javascript" src="/js/submit_modal.js"></script>
    <script defer type="text/javascript" src="/js/local_storage.js"></script>
</head>

<div class="body">
    <form class="flow" id="post_page" method="POST" action="/post/request" enctype="multipart/form-data">
        <h2>Tutor Application</h2>
        <div class="grid">
            <div class="grid crossrow" id="course_information">
                <label class="crossrow" for="course_prefix">
                    <div class="align_left">Please Select the subject (Required)*</div>
                </label>
                <select name="course_prefix" id="post_select_menu" tabindex="0" required>
                    <option selected value="" disabled selected hidden>Major</option>
                    {{#each course}}
                    <option value="{{this.course_prefix}}">{{this.course_prefix}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="grid crossrow">
                <label class="crossrow" for="course_number">
                    <div class="align_left">Please enter course number (Required)*<div> <label
                                id="course_postfix_message" class="small">Course number must be 3 numeric characters
                            </label> </div>
                    </div>
                </label>
                <input type="text" id="course_postfix" name="course_postfix" required placeholder="ex: 310"
                    maxlength="3" />
            </div>
            <div class="grid crossrow" id="availability">
                <label class="crossrow" for="availability">
                    <div class="align_left">Please enter your availability (Required)*<div> <label
                                id="availability_message" class="small">Please separate different time slots with a
                                comma as show below </label> </div>
                    </div>
                </label>
                <input class="crossrow" type="text" id="availability2" name="availability"
                    placeholder="ex: Mon-Fri 9am-5pm, Sat 2pm-6pm" minlength="3" maxlength="40" />

                {{!-- <!-- select multiple days checkbox -->
                <div class="grid crossrow" id="days">
                    <div class="grid crossrow justify_left" id="days">
                        <label class="crossrow" for="days">Select One or More Days:</label>
                        <input type="checkbox" name="days[]" id="monday" value="Monday" required="required">
                        <div class="align_left">Monday</div>
                        <!-- start time selector -->
                        <div class="grid crossrow justify_left" id="monday_time" style="display:none">
                            <label for="start_time">Start Time : </label>
                            <input type="time" name="start_time" id="start_time_1" required>
                        </div>
                        <!-- time duration selector -->
                        <div class="grid crossrow justify_left" id="duration_1" style="display:none">
                            <label for="duration">
                                <div class="top_pad"> Duration :</div>
                            </label>
                            <select name="duration" id="duration1">
                                <option value="1">1 hour</option>
                                <option value="2">2 hours</option>
                                <option value="3">3 hours</option>
                                <option value="4">4 hours</option>
                                <option value="5">5 hours</option>
                                <option value="6">6 hours</option>
                                <option value="7">7 hours</option>
                                <option value="8">8 hours</option>
                            </select>
                        </div>

                        <input type="checkbox" name="days[]" id="tuesday" value="Tuesday" required="required">
                        <div class="align_left">Tuesday</div>
                        <!-- start time selector -->
                        <div class="grid crossrow justify_left" id="tuesday_time" style="display:none">
                            <label for="start_time">Start Time : </label>
                            <input type="time" name="start_time" id="start_time_2" required>
                        </div>
                        <!-- time duration selector -->
                        <div class="grid crossrow justify_left" id="duration_2" style="display:none">
                            <label for="duration">
                                <div class="top_pad"> Duration :</div>
                            </label>
                            <select name="duration" id="duration2">
                                <option value="1">1 hour</option>
                                <option value="2">2 hours</option>
                                <option value="3">3 hours</option>
                                <option value="4">4 hours</option>
                                <option value="5">5 hours</option>
                                <option value="6">6 hours</option>
                                <option value="7">7 hours</option>
                                <option value="8">8 hours</option>
                            </select>
                        </div>

                        <input type="checkbox" name="days[]" id="wednesday" value="Wednesday" required="required">
                        <div class="align_left">Wednesday</div>
                        <!-- start time selector -->
                        <div class="grid crossrow justify_left" id="wednesday_time" style="display:none">
                            <label for="start_time">Start Time : </label>
                            <input type="time" name="start_time" id="start_time_3" required>
                        </div>
                        <!-- time duration selector -->
                        <div class="grid crossrow justify_left" id="duration_3" style="display:none">
                            <label for="duration">
                                <div class="top_pad"> Duration :</div>
                            </label>
                            <select name="duration" id="duration3">
                                <option value="1">1 hour</option>
                                <option value="2">2 hours</option>
                                <option value="3">3 hours</option>
                                <option value="4">4 hours</option>
                                <option value="5">5 hours</option>
                                <option value="6">6 hours</option>
                                <option value="7">7 hours</option>
                                <option value="8">8 hours</option>
                            </select>
                        </div>

                        <input type="checkbox" name="days[]" id="thursday" value="Thursday" required="required">
                        <div class="align_left">Thursday</div>
                        <!-- start time selector -->
                        <div class="grid crossrow justify_left" id="thursday_time" style="display:none">
                            <label for="start_time">Start Time : </label>
                            <input type="time" name="start_time" id="start_time_4" required>
                        </div>
                        <!-- time duration selector -->
                        <div class="grid crossrow justify_left" id="duration_4" style="display:none">
                            <label for="duration">
                                <div class="top_pad"> Duration :</div>
                            </label>
                            <select name="duration" id="duration4">
                                <option value="1">1 hour</option>
                                <option value="2">2 hours</option>
                                <option value="3">3 hours</option>
                                <option value="4">4 hours</option>
                                <option value="5">5 hours</option>
                                <option value="6">6 hours</option>
                                <option value="7">7 hours</option>
                                <option value="8">8 hours</option>
                            </select>
                        </div>

                        <input type="checkbox" name="days[]" id="friday" value="Friday" required="required">
                        <div class="align_left">Friday</div>
                        <!-- start time selector -->
                        <div class="grid crossrow justify_left" id="friday_time" style="display:none">
                            <label for="start_time">Start Time : </label>
                            <input type="time" name="start_time" id="start_time_5" required>
                        </div>
                        <!-- time duration selector -->
                        <div class="grid crossrow justify_left" id="duration_5" style="display:none">
                            <label for="duration">
                                <div class="top_pad"> Duration :</div>
                            </label>
                            <select name="duration" id="duration5">
                                <option value="1">1 hour</option>
                                <option value="2">2 hours</option>
                                <option value="3">3 hours</option>
                                <option value="4">4 hours</option>
                                <option value="5">5 hours</option>
                                <option value="6">6 hours</option>
                                <option value="7">7 hours</option>
                                <option value="8">8 hours</option>
                            </select>
                        </div>

                        <input type="checkbox" name="days[]" id="saturday" value="Saturday" required="required">
                        <div class="align_left">Saturday</div>
                        <!-- start time selector -->
                        <div class="grid crossrow justify_left" id="saturday_time" style="display:none">
                            <label for="start_time">Start Time : </label>
                            <input type="time" name="start_time" id="start_time_6" required>
                        </div>
                        <!-- time duration selector -->
                        <div class="grid crossrow justify_left" id="duration_6" style="display:none">
                            <label for="duration">
                                <div class="top_pad"> Duration :</div>
                            </label>
                            <select name="duration" id="duration6">
                                <option value="1">1 hour</option>
                                <option value="2">2 hours</option>
                                <option value="3">3 hours</option>
                                <option value="4">4 hours</option>
                                <option value="5">5 hours</option>
                                <option value="6">6 hours</option>
                                <option value="7">7 hours</option>
                                <option value="8">8 hours</option>
                            </select>
                        </div>

                        <input type="checkbox" name="days[]" id="sunday" value="Sunday" required="required">
                        <div class="align_left">Sunday</div>
                        <!-- start time selector -->
                        <div class="grid crossrow justify_left" id="sunday_time" style="display:none">
                            <label for="start_time">Start Time : </label>
                            <input type="time" name="start_time" id="start_time_7" required>
                        </div>
                        <!-- time duration selector -->
                        <div class="grid crossrow justify_left" id="duration_7" style="display:none">
                            <label for="duration">
                                <div class="top_pad"> Duration :</div>
                            </label>
                            <select name="duration" id="duration7">
                                <option value="1">1 hour</option>
                                <option value="2">2 hours</option>
                                <option value="3">3 hours</option>
                                <option value="4">4 hours</option>
                                <option value="5">5 hours</option>
                                <option value="6">6 hours</option>
                                <option value="7">7 hours</option>
                                <option value="8">8 hours</option>
                            </select>
                        </div>
                    </div> --}}
                    {{!-- <br>
                    <!-- start time selector -->
                    <div class="grid crossrow justify_left" id="start_time">
                        <label for="start_time">Start Time : </label>
                        <input type="time" name="start_time" id="start_time" required>
                    </div>
                    <br> --}}
                    {{!--
                    <!-- time duration selector -->
                    <div class="grid crossrow justify_left" id="duration">
                        <label for="duration">
                            <div class="top_pad"> Duration :</div>
                        </label>
                        <select name="duration" id="duration">
                            <option value="1">1 hour</option>
                            <option value="2">2 hours</option>
                            <option value="3">3 hours</option>
                            <option value="4">4 hours</option>
                            <option value="5">5 hours</option>
                            <option value="6">6 hours</option>
                            <option value="7">7 hours</option>
                            <option value="8">8 hours</option>
                        </select>
                    </div>

                    <br> --}}
                </div>
                <div class="grid crossrow" id="credibility">
                    <label class="crossrow" for="credibility">
                        <div class="align_left">CV/Resume | Why you are qualified to tutor this course (Required)*</div>
                    </label>
                    <input class="crossrow post_btn" type="file" id="credibility2" name="credibility" required>
                </div>
                <br>
            </div>
            <div>
                <label class="crossrow" for="post">
                    <div class="align_left">Please Note: Applications will take up to 24 hrs to review</div>
                </label>
                {{#if logged}}
                <input class="post_btn post_delete_login_send" id="post_button" type="submit" value="Submit Request"
                    name="Post" />
                <button class="post_btn" id="reset_button" type="reset" value="cancel" name="Cancel">Cancel</button>
                {{else}}
                <button class="post_btn post_login_send_button" type="button" id="submit_button">Submit</button>
                <button class="post_btn" id="reset_button" type="reset" value="cancel" name="Cancel">Cancel</button>
                {{/if}}
            </div>
    </form>
</div>
<br>
<br>