{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: tos.hbs
 * 
 * Description: Where terms of service legal jargon would go.
 ************************************************************************* --}}

<div class="body">
    <h2>Terms of Service</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus
         sit amet nulla in lacinia. Nulla euismod justo vitae eros rhoncus,
         vitae efficitur est vulputate. Proin condimentum arcu nec dignissim pulvinar.
         Fusce euismod bibendum libero tincidunt facilisis. Quisque scelerisque nisl
         sed orci dictum, gravida egestas nunc imperdiet. Phasellus sed risus in neque
         hendrerit faucibus ac at tellus. Praesent est ipsum, consequat et ultricies ac,
         euismod nec mi. Phasellus tempor odio sit amet dictum tempus. Proin consectetur,
         elit eu posuere iaculis, erat elit ultrices diam, et fringilla lacus lorem eu justo.
         Donec vel massa sem.
    </p>
</div>