{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: user_profile.hbs
 * 
 * Description: User profile page. user_section class is the info on the 
 *              right side of the page.
 *              profile_image is the image on the left. 
 *              course_info is the cards that will display below
 *              the other two class.
 ************************************************************************* --}}
<head>
    <link rel='stylesheet' type="text/css" href='/stylesheets/user_profile.css' />
</head>

<div class="body">
    <div class = "user_section">
        <div class = "user_info">
            <h2 id="username" >{{current_user.username}}</h2>
            <label>Name: <id="first_name">{{current_user.first_name}}</label>
        </div>
        <div class = "profile_image">
            <img class="card_image" src="../{{current_user.photopath}}" alt="image missing"><br>
            <a href="/message/{{current_user.username}}"><button class="registerbtn">message</button></a>
        </div>
    </div>
    <div class = "courses_info">
    {{#if courses}}
    <p>Tutor Courses</p>
        {{#each courses}}
            {{> teaches this}}
        {{/each}}
    {{/if}}
    </div>
</div>
