{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: user_profile.hbs
 * 
 * Description: user profile page.
 ************************************************************************* --}}

<div class="body">
    <h2 id="username" >{{current_user.username}}</h2>
    <img class="card_image" src="../{{current_user.photopath}}" alt="image missing" width="100" height="100">
    <div id="first_name">{{current_user.first_name}}</div>
<div>
    <textarea id="message-text" name = "message" value ="message" placeholder="Type your message here"></textarea>
    <button id= "message-button">Send Message</label> 
</div>
    {{#each courses}}
        {{> teaches this}}
    {{/each}}
</div>

          
