<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js">
    </script>
    <link rel='stylesheet' type="text/css" href='/stylesheets/colorBook.css' />
     <script defer type="text/javascript" src= "/js/frontend.js"  ></script>
  </head>
  
  <body class="grid-container">
    {{> header}}
    {{!-- {{#if (emptyObject messages)}}
    {{> flashmessage}}
    {{/if}} --}}
    {{{body}}}
    {{> footer}}
  </body>
  
</html>
