<div class="header">
  <h1>{{title}}</h1>
  <p>About Us</p>
</div>

<div class="body">
  <h1 style="font-size: 20px;">About Us</h1>
    <nav>  
      <p>Team Leader: <a style="color:black" href="/about/Lam">Justin Lam</a> </p><br>
      <p>Github Master / Front End Help: <a style="color:black" href="/about/Puri">Aviral Puri</a> </p><br>
      <p>Back End Leader: <a style="color:black" href="/about/Thapa">Dinesh Thapa</a> </p><br>
      <p>Back End Developer: <a style="color:black" href="/about/Resayo">Kurt D Resayo</a> </p><br>
      <p>Front End leader: <a style="color:black" href="/about/Xu">Wesley J Xu</a> </p><br>
      <p>Front End Developer: <a style="color:black" href="/about/Fong">Chung Hei Fong</a> </p><br>
    </nav>
</div>

<div class="bottomHeader">
  <a href="/aboutUs" >About US</a>
</div>