<div class="header">
  <h1>{{title}}</h1>
  <p>About Us</p>
</div>

<div class="body">
    <nav>  
      <p>Team Leader: <a href="/about/Lam" class="button">Justin Lam</a> </p><br>
      <p>Github Master / Front End Help: <a href="/about/Puri" class="button">Aviral Puri</a> </p><br>
      <p>Back End Leader: <a href="/about/Thapa" class="button">Dinesh Thapa</a> </p><br>
      <p>Back End Developer: <a href="/about/Resayo" class="button">Kurt D Resayo</a> </p><br>
      <p>Front End Leader: <a href="/about/Xu" class="button">Wesley J Xu</a> </p><br>
      <p>Front End Developer: <a href="/about/Fong" class="button">Chung Hei Fong</a> </p><br>
    </nav>
</div>

<div class="bottomHeader">
  <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
</div>