<div class="body l-a-content">
    <nav>
      <h4>Software Engineering Class SFSU 
      | 
      Fall, 2021 Section 03 Team 1</h4>
      <p>About Us</p>  <br>
      <p>Team Leader: <a href="/about/Lam" class="button">Justin Lam</a> </p><br>
      <p>Github Master / Front End Help: <a href="/about/Puri" class="button">Aviral Puri</a> </p><br>
      <p>Back End Leader: <a href="/about/Thapa" class="button">Dinesh Thapa</a> </p><br>
      <p>Back End Developer: <a href="/about/Resayo" class="button">Kurt D Resayo</a> </p><br>
      <p>Front End Leader: <a href="/about/Xu" class="button">Wesley J Xu</a> </p><br>
      <p>Front End Developer: <a href="/about/Fong" class="button">Chung Hei Fong</a> </p><br>
    </nav>
</div>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js">
  </script>
  <link rel='stylesheet' type="text/css" href='/stylesheets/colorBook.css' />
    <script defer src= "/js/frontend.js"  ></script>
</head>