<div class = "banner-wrapper">
  <div class ="row">
    <div class ="col-md-12">
      SFSU Software Engineering Project CSC 648-848, Fall 2021 For Demonstration Only 
    </div>
  </div>
</div>

<div class="header">
  <div class = "site-section">
    <div class =" site-info">
      Software Engineering Class SFSU 
      | 
      Fall, 2021 Section 03 Team 1
    </div>
  </div>
  <!--<h1>{{title}}</h1>-->
  <!--<p>Welcome to {{title}}</p>-->
</div>

<div class = "main-navbar">
      <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
      <!--<input type="text" placeholder="Search.."> -->
      <a href="/Login" >Login</a> | <a href="/Register" >Register</a>
</div>


<div class="body">
    <nav>
      <p>About Us</p>  <br>
      <p>Team Leader: <a href="/about/Lam" class="button">Justin Lam</a> </p><br>
      <p>Github Master / Front End Help: <a href="/about/Puri" class="button">Aviral Puri</a> </p><br>
      <p>Back End Leader: <a href="/about/Thapa" class="button">Dinesh Thapa</a> </p><br>
      <p>Back End Developer: <a href="/about/Resayo" class="button">Kurt D Resayo</a> </p><br>
      <p>Front End Leader: <a href="/about/Xu" class="button">Wesley J Xu</a> </p><br>
      <p>Front End Developer: <a href="/about/Fong" class="button">Chung Hei Fong</a> </p><br>
    </nav>
</div>

<div class="bottomHeader">
  <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
</div>