<div class="header">
  <!--<h1>{{title}}</h1>-->
  <h1>Software Engineering Class SFSU</h1>
  <p>Fall, 2021 Section 03 Team 1</p>

  <!--<p>Welcome to {{title}}</p>-->
</div>

<div class="body">
    <img src=".\images\frontpag.png" alt="coming soon" width="500" height="600">
</div>


<div class="bottomHeader">
  <a href="/" >Home</a> | <a href="/aboutUs" >About US</a>
</div>