{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: footer.hbs
 * 
 * Description: footer for all pages as a partial
 ************************************************************************* --}}

<div class="bottom_header cross_screen_row">
  {{!-- <a href="/" >Home</a> | <a href="/about_us" >About US</a> --}}
</div>