<div class = "cross-screen-row banner"> 
  SFSU Software Engineering Project CSC 648-848, Fall 2021 For Demonstration Only
</div>

<div class = "cross-screen-row site-section">
  TwoHelpYou
</div>

<div class = "cross-screen-row main-navbar"> 
  <div id="default-nav"><a href="/" >Home</a> | <a href="/aboutUs" >About US</a> | </div>
  <form id="search-form">
    {{#if results}}
    <div class="search-bar">
      <select name="course_prefix" id="select-menu" tabindex="0">
        <option selected value="">All</option>
        {{#each course}}
          <option value={{this.course_prefix}}>{{this.course_prefix}}</option>
        {{/each}}
      </select>
      <input id="search-text" type="search" placeholder="Search" name="search-text" aria-label="Search">
      <button type="button" id="search-button">&#x1F50E</button>
    </div>
    {{else}}
    <div>Return to Home to Search</div>
    {{/if}}
  </form>
  <div id="user-nav"> | <a href="/Login" >Login</a> | <a href="/Register" >Register</a></div>
</div>
